{%extends 'common/layout.html'%}
{%block title%}Check Out{%endblock title%}
{% load mathfilters%}
<body class="bg-light" data-new-gr-c-s-check-loaded="14.1025.0" data-gr-ext-installed="">
    {%block content%}
    <div class="breadcrumb-section breadcrumb-image" >
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Check out</h2>
                        <div class="breadcrumb__option">
                            <a href="/">Home</a>
                            <a href="/shop">Shop</a>
                            <a href="/shop/cart">Cart</a>
                            <span>Checkout</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div>
            <div>
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-muted">Your cart</span>
                    <span class="badge badge-secondary badge-pill">3</span>
                </h4>
                <ul class="list-group">
                    {%for product in cart%}
                    <li class="list-group-item d-flex lh-condensed justify-content-between">
                        <img src="/media/{{product.image}}" width="45">
                        <div>
                            <h3 class="my-0">{{product.name}}</h3>
                        </div>
                        <div>
                            <a class="text-muted">SL: {{product.quantity}}</a> 
                            <span class="text-muted">${{product.price|mul:product.quantity}}</span>
                        </div>
                        
                        
                    </li>
                    {% endfor %}
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Total (USD)</span>
                        <strong>${{total}}</strong>
                    </li>
                </ul>
                
    
                <form class="card p-2">
                    <div class="input-group">
                    <input type="text" class="form-control" placeholder="Promo code">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-secondary">Redeem</button>
                        
                    </div>
                    
                    </div>
                </form>
                </div>
                <h4>Payment</h4>
                    <div class="d-block my-3">
                    <div class="custom-control custom-radio">
                        <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked="" required="">
                        <label class="custom-control-label" for="credit">Credit card</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required="">
                        <label class="custom-control-label" for="paypal">Paypal</label>
                    </div>
                </div>
                <a href="/payment" class="primary-btn">COUNTINUE TO PROCCESS</a>
            </div>
    </div>
    <br>
    {%endblock%}
</body>